body {
	background-color: #fefefe;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 35px;
    padding-right: 35px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

div#root {
}

label {
	width: 250px;
	margin-bottom: 0;
}

span.done {
	text-decoration: line-through;
}

div.list ul {
	list-style-type: none;
	padding-left: 10px;
}


div.list ul li {
	margin: 2px 0;
}

.hand {
	cursor: pointer;
}

.list-name {
	display: inline-block;
	width: 250px;
}

.item-name {
	display: inline-block;
	width: 218px;
}

.buttons-container {
	display: inline-block;
	width: 252px;
	text-align: right;
}

input[type="submit"],
button[type="button"] {
	width: 70px;
}

div.field-row {
	margin: 2px 0;
}
