<div id="root"></div>

@section scripts
{
@Scripts.Render("~/bundles/app")
<script type="text/javascript">
	"use strict";
	
	ReactDOM.render(React.createElement(TodoApp), document.getElementById('root'));
</script>
}
