<div id="root"></div>

@section scripts
{
@Scripts.Render("~/bundles/app")
<script type="text/javascript">
	"use strict";

	var params = {
		jQuery: jQuery,
		listsUri: "http://localhost:62880/api/lists",
		itemsUri: "http://localhost:62880/api/items"
	};
	var todoService = new TodoService(params);
	ReactDOM.render(React.createElement(TodoApp, { todoService: todoService}), document.getElementById('root'));
</script>
}
